

body {
  margin: 0;
  width: auto;
  height: 100%;
  background-image: url('../images/background/body.gif');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  margin: 15px;
  height: 75px;
}

#viewport {
  background-image: url('../images/background/grassland.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 4px 4px rgba(41, 41, 41, 0.6);
  width: 800px;
  height: 600px;
}

#viewport.menu {
  background-image: url('../images/background/menu.jpg');
}