

#background {
  margin: 0;
  width: auto;
  height: 100%;
  background-image: url('../images/background/body.gif');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

#title {
  margin: 15px;
  height: 75px;
}

#viewport {
  background-image: url('../images/background/grassland.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 4px 4px rgba(41, 41, 41, 0.6);
  width: 800px;
  height: 600px;
}

/* #viewport.menu {
  background-image: url('../images/background/menu.jpg');
} */

#menu {
  width: 800px;
  height: 200px;
}

.menu-options {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.keys {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.key {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 8px;
  margin: 20px;
  background-color: silver;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  box-sizing: border-box;
  border-radius: 16px;
}

#start-game {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 8px;
  margin: 20px;
  background-color: transparent;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  box-sizing: border-box;
  border-radius: 16px;
}

#start-game:hover {
  background-color: rgba(0, 120, 4, 0.8);
}