
#background {
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/background/body.gif');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#canvas-container {
  position: relative;
  background: black;
  display: inline-block;
  width: 800px;
  height: 600px;
  border: none;
  margin-top: 40px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 8px 8px rgba(41, 41, 41, 0.6);
}

#sound {
  position: absolute;
  z-index: 5;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

#sound-icon {
  color: black;
  width: 24px;
  height: 24px;
}

#game, #menu, #victory {
  position: absolute;
  width: 800px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 8px 8px rgba(41, 41, 41, 0.6);
}

#menu {
  z-index: 3;
  background-image: url('../images/background/menu.jpg');
  padding: 24px;
}

#title-container {
  display: flex;
  justify-content: center;
  height: 72px;
}

#title {
  height: 100%;
  width: auto;
}

#main-options {
  padding-top: 200px;
  padding-left: 100px;
  line-height: 36px;
}

.option {
  width: fit-content;
  font-family: Oxygen, serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.option:hover {
  cursor: pointer;
  color: gray;
  text-decoration: underline;
}

#game {
  z-index: 1;
  background-image: url('../images/background/grassland.jpg');
}

#pause {
  position: absolute;
  z-index: 2;
  left: 12px;
  top: 12px;
  cursor: pointer;
}

#pause-icon {
  color: black;
  width: 24px;
  height: 24px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  box-sizing: border-box;
  border-radius: 12px;
  border: 4px ridge white;
  padding: 16px;
  height: 240px;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#close-icon-container {
  position: absolute;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#close-icon-container:hover {
  background-color: #006300;
  color: silver;
}

#close-icon {
  font-family: Oxygen, serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  font-family: Oxygen, serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.instruct {
  font-family: Oxygen, serif;
  font-size: 16px;
  color: white;
  line-height: 20px;
}

.show-keys {
  cursor: help;
  color: #9d9dff;
}

.show-keys:hover {
  text-decoration: underline;
  color: #4e4eff;
}

#victory {
  z-index: 3;
  background-image: url('../images/background/victory.jpg');
}

.victory-options {
  position: relative;
  left: 140px;
  top: 280px;
  line-height: 36px;
}

#info {
  margin-top: 20px;
  border: 1px solid black;
  background-color: rgba(41, 41, 41, 0.7);
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 4px 4px rgba(41, 41, 41, 0.6);
  width: 800px;
  height: 150px;
}

.menu-options {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.keys {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.key {
  width: 50px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  padding: 8px;
  margin: 10px;
  background-color: silver;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  box-sizing: border-box;
  border-radius: 8px;
}

#pause-button {
  position: absolute;
  top: 10;
  right: 10;
  z-index: 3;
  color: gray;
  width: 28px;
  height: 28px;
}

.nav {
  margin-top: 16px;
  width: 100%;
}

#credit {
  text-align: center;
  font-family: Oxygen, serif;
  font-size: 20px;
  color: white;
}

.links {
  margin-top: 12px;
  text-align: center;
}

.link {
  color: white;
  cursor: pointer;
  margin: 8px;
}

.link:hover {
  color: gray;
}

#link1,
#link2,
#link3,
#link4,
#link5 {
  width: 24px;
  height: 24px;
}

.close {
  display: none;
}