
#background {
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/background/body.gif');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#canvas-container {
  cursor: default;
  position: relative;
  background: black;
  display: inline-block;
  width: 800px;
  height: 600px;
  border: none;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 8px 8px rgba(41, 41, 41, 0.6);
}

#sound {
  position: absolute;
  z-index: 5;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

#sound-icon {
  color: black;
  width: 24px;
  height: 24px;
}

#game, #menu, #player-icons, #victory {
  position: absolute;
  overflow: hidden;
  width: 800px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 8px 8px rgba(41, 41, 41, 0.6);
}

#menu {
  z-index: 3;
  background-image: url('../images/background/menu.jpg');
  padding: 24px;
}

#title-container {
  display: flex;
  justify-content: center;
  height: 72px;
}

#title {
  height: 100%;
  width: auto;
}

#main-options {
  padding-top: 200px;
  padding-left: 100px;
  line-height: 36px;
}

.option {
  width: fit-content;
  font-family: Oxygen, serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.option:hover {
  cursor: pointer;
  color: darkolivegreen;
  text-decoration: underline;
}

#game {
  z-index: 1;
  background-image: url('../images/background/grassland.jpg');
}

#pause {
  position: absolute;
  z-index: 2;
  left: 12px;
  top: 12px;
  cursor: pointer;
}

#pause-icon {
  color: black;
  width: 24px;
  height: 24px;
}



/* MENU */
.modal-background {
  cursor: zoom-out;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modal-child {
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  box-sizing: border-box;
  border-radius: 12px;
  border: 4px ridge white;
  padding: 16px;
  height: 240px;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#close-button {
  position: absolute;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#close-button:hover {
  background-color: #006300;
  color: silver;
}

#close-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  font-weight: 700;
  font-family: Oxygen, serif;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  font-family: Oxygen, serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.instruct {
  font-family: Oxygen, serif;
  font-size: 16px;
  color: white;
  line-height: 20px;
}

#show-keys {
  cursor: help;
  color: #9d9dff;
}

#show-keys:hover {
  text-decoration: underline;
  color: #4e4eff;
}



/* GAME */
#player-icons {
  z-index: 2;
  background: transparent;
}

.player-icon {
  position: absolute;
  bottom: 32px;  
  width: 48px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid black;
  color: white;
  font-family: Oxygen;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-icon.one {
  left: 72px;
  background-color: #0000eb;
}

.player-icon.two {
  left: 272px;
  background-color: green;
}

.player-icon.three {
  right: 272px;
  background-color: #c40000;
}

.player-icon.four {
  right: 72px;
  background-color: goldenrod;
}



/* VICTORY */
#victory {
  z-index: 3;
  background-image: url('../images/background/victory.jpg');
}

.victory-options {
  position: relative;
  left: 110px;
  top: 280px;
  line-height: 36px;
}

#victorious {
  position: absolute;
  bottom: 95px;
  right: 225px;
  width: 96px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid black;
  color: white;
  font-family: Oxygen;
  font-size: 48px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

#victorious.p1 {
  background-color: #0000eb;
}

#victorious.p2 {
  background-color: green;
}

#victorious.p3 {
  background-color: #c40000;
}

#victorious.p4 {
  background-color: goldenrod;
}



/* INFO */
#info {
  cursor: default;
  margin-top: 12px;
  border: 1px solid black;
  background-color: rgba(41, 41, 41, 0.7);
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 4px 4px rgba(41, 41, 41, 0.6);
  width: 800px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.keys {
  width: 100%;
  padding: 8px 0 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.key {
  width: 40px;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid black;
  padding-top: 9px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.key#p1 {
  background-color: #0000eb;
}

.key#p2 {
  background-color: green;
}
.key#p3 {
  background-color: #c40000;
}
.key#p4 {
  background-color: goldenrod;
}


@-webkit-keyframes blinkBorder {
  from, to {
    border: 2px solid black;
  }
  50% {
    border: 2px solid white;
  }
}

@keyframes blinkBorder {
  from, to {
    border: 2px solid black;
  }
  50% {
    border: 2px solid white;
  }
}

.highlight {
  -webkit-animation: blinkBorder 1s step-end infinite;
  animation: blinkBorder 1s step-end infinite;
}


#pause-button {
  position: absolute;
  top: 10;
  right: 10;
  z-index: 3;
  color: gray;
  width: 28px;
  height: 28px;
}

.credits {
  width: 100%;
  padding: 4px 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#credit {
  text-align: center;
  font-family: Oxygen, serif;
  font-size: 20px;
  color: white;
}

.links {
  margin-top: 8px;
  text-align: center;
}

.link {
  color: white;
  cursor: pointer;
  margin: 8px;
  width: 24px;
  height: 24px
}

.link:hover {
  color: #76ff76;
}

#portfolio {
  text-decoration: none;
}

#portfolio:hover {
  text-decoration: underline;
}

#link1,
#link2,
#link3,
#link4,
#link5 {
  width: 24px;
  height: 24px;
}

.close {
  display: none;
}