
#background {
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/background/body.gif');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#title {
  height: 50px;
}

#canvas-container {
  width: 800px;
  height: 600px;
  background-image: url('../images/background/grassland.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#game {
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 4px 4px rgba(41, 41, 41, 0.6);
  width: 800px;
  height: 600px;
}

.uber {
  position: absolute;
  background-image: url('../images/background/menu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid black; */
  box-sizing: border-box;
  border-radius: 12px;
  /* box-shadow: 4px 4px rgba(41, 41, 41, 0.6); */
  width: 800px;
  height: 600px;
}

.blinking {
  font-family: Marker Felt, fantasy;
  color: white;
}

#menud {
  margin-top: 40px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 4px 4px rgba(41, 41, 41, 0.6);
  width: 800px;
  height: 120px;
}

.menu-options {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.keys {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.key {
  width: 50px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  padding: 8px;
  margin: 10px;
  background-color: silver;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  box-sizing: border-box;
  border-radius: 8px;
}

#start-game {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 8px;
  margin: 10px;
  background-color: transparent;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  box-sizing: border-box;
  border-radius: 16px;
}

#start-game:hover {
  background-color: rgba(0, 120, 4, 0.8);
}